main div {
  width: max-content;
  background-color: #224DA8;
  border: 5px #525E75 solid;
  border-radius: 12px;
  padding: 10px;
  margin: 5px auto;
}

table {
  margin: 20px auto 5px;
}

th, td {
  border: 2px solid #a8aeb8;
  padding: 3px;
}

th {
  font-weight: bold;
}

#firstEl {
  border: none;
  border-right: 3px solid black;
}

thead {
  border-bottom: 3px solid black;
}

tfoot {
  border-top: 3px solid black;
}

.rowHeader {
  border-right: 3px solid black;
}