main > div {
  margin: auto;
}

main > div > div {
  background-color: #224DA8;
  border: 5px #525E75 solid;
  border-radius: 12px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

main > div:first-child {
  width: 75vw;
  max-width: 960px;
  min-width: 630px;
  display: flex;
  justify-content: space-around;
}

main > div:first-child > div {
  width: 340px;
}

main > div:nth-child(2) {
  width: max-content;
}

legend {
  font-size: x-large;
  margin-bottom: 10px;
  text-decoration: underline;
  text-align: center;
}

fieldset div {
  position: relative;
  margin-bottom: 6px;
}

fieldset div input {
  position: absolute;
  left: 180px;
  height: 1em;
}

.timeInput {
  width: 145px;
}

fieldset button {
  margin: 5px;
  font-size: large;
  position: relative;
  left: 210px;
}

table {
  margin: 20px 0px 5px;
}

th, td {
  border: 2px solid #a8aeb8;
  padding: 3px;
}

th {
  font-weight: bold;
}

#firstEl {
  border: none;
  border-right: 3px solid black;
}

thead {
  border-bottom: 3px solid black;
}

tfoot {
  border-top: 3px solid black;
}

.rowHeader {
  border-right: 3px solid black;
}