body {
  background-color: #42C4DB;
  font-family: Arial;
  color: white;
}

h1, h2, h3 {
  margin: 5px 0px 10px;
  text-decoration: underline;
  font-weight: bold;
}

h1, h2 {
  text-align: center;
}

header h1 {
  font-family: 'Square Peg', cursive;
  font-size: 48pt;
  text-decoration: none;
  color:gainsboro
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size: x-large;
}

header > div > div:first-of-type {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #525E75;
  border-radius: 12px;
  background-color: #224DA8;
  aspect-ratio: 787 / 246;
}

header > div {
  width: 75vw;
  max-width: 960px;
  min-width: 630px;
  margin: 8px auto;
}

/* https://stackoverflow.com/questions/27256849/is-it-possible-to-use-vh-minus-pixels-in-a-css-calc */
header h1 {
  z-index: 1;
}

header img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  color: gold;
  border: 3px solid #525E75;
  border-radius: 5px;
  background-color: #224DA8;
  padding: 3px;
  width: 120px;
  text-align: center;
  z-index: 1;
}

nav li a {
  color: gold;
}

#storeLogo {
  content: url(../img/salmon.png);
}

strong {
  font-weight: bold;
}